<div data-ng-app="ng-employees-mng" data-ng-controller="EmployeesCtrl">
  <br>
  <button id="btnNewEmployee" type="button" class="btn btn-primary" data-toggle="modal" data-target="#empFormDlg" data-ng-click="clear()">
    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New employee
  </button>
  <div id="all">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Ranking</th>
      </tr>
      </thead>
      <tbody>
      <tr data-ng-repeat="e in employees">
        <td scope="row">{{e.id}}</td>
        <td>{{e.name}}</td>
        <td>{{e.surname}}</td>
        <td>{{e.ranking}}</td>
        <td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#empFormDlg" data-ng-click="get(e.id)">Get</button></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="form" ng-include="template.url"></div>
</div>