<div>
    <h3>Currently in edit mode: {{record.id}}</h3>
    <form name="empForm" data-ng-submit="update()">
        <label for="name">Name:</label>
        <input name="name" data-ng-model="record.name">
        <br>
        <label for="surname">Surname:</label>
        <input name="surname" data-ng-model="record.surname">
        <br>
        <label for="ranking">Score:</label>
        <input name="ranking" data-ng-model="record.ranking" required data-numeric/>
        <input type="submit" value="Update" data-ng-disabled="empForm.$invalid">

        <h3>info:</h3>
		<pre>
			{{empForm.$error | json}}
		</pre>
        <h3>valid:</h3>
        <pre>{{empForm.$valid}}</pre>
    </form>
</div>