<div class="modal fade" id="empFormDlg" tabindex="-1" role="dialog" aria-labelledby="empFormDlgLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="empFormDlgLabel">Employee #{{record.id}}</h4>
            </div>
            <form name="empForm" data-ng-submit="action()">
                <input type="input" data-ng-model="record.x" data-revalidate>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <div class="has-feedback">
                            <input class="form-control" data-ng-model="record.name" name="name" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback" data-ng-show="empForm.$dirty && empForm.name.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="name">Surname:</label>
                        <div class="has-feedback">
                            <input class="form-control" data-ng-model="record.surname" name="surname" required>
                            <span class="glyphicon glyphicon-ok form-control-feedback" data-ng-show="empForm.$dirty && empForm.surname.$valid"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ranking">Score:</label>
                        <div class="has-feedback">
                            <input class="form-control" data-ng-model="record.ranking" name="ranking" required data-numeric>
                            <span class="glyphicon glyphicon-ok form-control-feedback" data-ng-show="empForm.$dirty && empForm.ranking.$valid"></span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="{{getBtnValue()}}" data-ng-disabled="empForm.$invalid">
                    <h3>info:</h3>
                    <pre>
                        {{empForm.$error | json}}
                    </pre>
                    <h3>valid:</h3>
                    <pre>{{empForm.$valid}}</pre>
                </div>
            </form>
        </div>
    </div>
</div>